#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .content {
    margin-top: 55px;
    overflow: hidden;
    // background: #FEEBE5;
    background: linear-gradient(#FEEBE5, #ffffff);
    // background: #000000;
  }
}
