#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;

  .content {
    // margin-top: 55px;
    overflow: hidden;
    // background: linear-gradient(#120a17, #0c0612);
    background: linear-gradient(#FEEBE5, #ffffff);
  }
}
