@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
$old-font: 'Old Standard TT', serif;
$ori-font: Avenir, Helvetica, Arial, sans-serif;
$primary-color: #ee1515;

#app {
  font-family: $ori-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  height: 100vh;
  background: #E0EAFC;  /* fallback for old browsers */

  .content {
    overflow: hidden;
    // margin-top: 55px;
    // background: linear-gradient(#120a17, #0c0612);
    // background: linear-gradient(#FEEBE5, #ffffff);
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .moveInUp-enter-active {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
