.home {
  // background: url("../assets/background/gengar.jpg");
  background: linear-gradient(#120a17, #0c0612);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
}
