@media only screen and (min-width: 1025px) {
  .home{
    position: relative;
    margin: 0 auto;
    height: 100vh;
    // background-color: #FFEA4C;

    .title {
      position: relative;
      width: 800px;
      height: 80px;
      // background-color: #FFEA4C;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 10px;
      z-index: 1;
      animation-name: fadein;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      opacity: 0;

      h1 {
        font-size: 80px;
      }
    }

    .sticker {
      // background-color: rgba(255, 0, 0, 0.5);
      // border: red 1px solid;
      z-index: 1;

      .left {
        // height: 100vh;
        // background: blue;

        img {
          width: 250px;

          transform: translateX(150%);
          animation-name: fadeInLeft;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-delay: 2s;
          opacity: 0;
        }
      }

      .right {
        // height: 100vh;
        // background: red;

        img {
          width: 230px;

          transform: translateX(-150%);
          animation-name: fadeInRight;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-delay: 3s;
          opacity: 0;
        }
      }
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(150%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-150%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

}

@media only screen and (max-width: 1024px) {
  .home{
    .left {
      height: 100vh;

      img {
        width: 250px;
      }
    }
    .right {
      height: 100vh;

      img {
        width: 250px;
      }
    }
  }
}
