.home {
  // margin-top: 55px;
  // background: url("../assets/background/gengar.jpg");
  background: linear-gradient(#120a17, #0c0612);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  // position: fixed;
  top: 0;

  .title {
    position: relative;
    margin: 0 auto;
    text-align: center;

    p{
      font-size: 100px;
    }
  }

  .sticker {
    // background-color: rgba(255, 0, 0, 0.5);
    // border: red 1px solid;
    z-index: 1;

    .first {
      width: 230px;
      transform: translateX(0%);
      animation-name: fadeInLeft;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      opacity: 0;
    }

    .second {
      width: 230px;
      transform: translateX(-450%);
      animation-name: fadeInRight;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      opacity: 0;
    }
  }

  .video {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;

    .v-back-title {
      background-image: -webkit-gradient(#FEEBE5, #ffffff);
      background-image: linear-gradient(#FEEBE5, #ffffff);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(450%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-450%);
  }
}
