@media only screen and (min-width: 1025px) {
  #nav-bar {
    position: fixed;
    right: 0;
    z-index: 1000;

    .pc-nav {
      .navbar {
        // position: absolute;
        // // border: red 1px solid;
        // right: 0px;
        top: 15px;

        .navbar-toggler {
          background-color: #ee1515;
          -webkit-box-shadow: 0px 5px 25px -6px rgba(238,21,21,0.5);
          -moz-box-shadow: 0px 5px 25px -6px rgba(238,21,21,0.5);
          box-shadow: 0px 5px 25px -6px rgba(238,21,21,0.5);

          .logo-close {
            width: 40px;
          }

          .logo-open {
            width: 40px;
          }

          .title-part {
            color: #ffffff;
            font-size: 17px;
          }

          &:hover {
            .title-part {
              animation-name: slideIn;
              animation-duration: .5s;
              animation-fill-mode: ease-in;
            }
          }

          &:focus {
            outline:none !important;
            outline-width: 0 !important;
          }

        }

        #my-sidebar {
          .b-sidebar-header {
            background: #ee1515;
            color: #ffffff;
          }
          .b-sidebar-body {
            .navbar-nav {
              a {
                color: #2c3e50;

                &.router-link-exact-active {
                  // color: #ee1515;
                  font-weight: bold;
                  color: #ffffff;
                  background-color: rgba(238, 21, 21, 0.5);
                }
              }

            }
          }
        }
      }
    }

    .mobile-nav {
      display: none;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(120%);
      display: none;
    }
    100% {
      transform: translateX(0%);
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #nav-bar {
    margin-bottom: 55px;
    z-index: 1000;

    .mobile-nav {
      .navbar {
        background-color: #ee1515;

        .logo {
          width: 28px;
        }

        .navbar-toggler{
          border-color: #2c3e50;

          .logo-close {
            width: 28px;
          }

          .logo-open {
            width: 28px;
          }

          &:focus {
            border-color: #2c3e50;
            outline:none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
          }

        }

        #nav-collapse {
          a {
            color: #2c3e50;

            &.router-link-exact-active {
              color: #ffffff;
              // background-image: -webkit-gradient(#FEEBE5, #ffffff);
              // background-image: linear-gradient(#FEEBE5, #ffffff);
              // color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              // font-weight: bold;
            }
          }
        }

      }
    }

    .pc-nav {
      display: none;
    }
  }
}
