@media only screen and (min-width: 1025px) {
  .pokemon {
    .grid-poke {
      padding: 10px;

      .poke-card {
        position: relative;
        text-align: center;
        padding: 3px;
        // margin: 5px;
        width: 50%;

        .card {
          .card-img-top {
            width: 35%;
            margin: 0 auto;
            text-align: center;
          }

          .card-body {

            .card-text {
              // text-align: left;
              margin-bottom: 0;

              &:last-child {
                margin-top: 3vw;
              }

              .poke-type {
                border: 1px solid;
                display: inline-block;
                padding: 5px;
                border-radius: 10px;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .pokemon {
    .grid-poke {
      padding: 10px;

      .poke-card {
        position: relative;
        text-align: center;
        padding: 3px;
        // margin: 5px;
        width: 50%;

        .card {
          height: 40vh;

          .card-img-top {
            width: 30vw;
            max-width: 30vw;
            margin: 0 auto;
            text-align: center;
          }

          .card-body {
            .card-title{
              span {
                display: block;
              }
            }

            .card-text {
              margin-bottom: 0;

              &:last-child {
                margin-top: 3vw;
              }

              .poke-type {
                border: 1px solid;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                margin-top: 3vw;
                padding: 1.5vw;
                border-radius: 10px;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }
}


