@media only screen and (min-width: 1025px) {
  .region {
    position: relative;

    .header-page {
      position: relative;
      height: 100vh;
      background-color: red;
    }

    .master-page {
      position: relative;
      height: 100vh;
      background-color: blue;

    }
  }
}

@media only screen and (max-width: 1024px) {
  .region {
    position: relative;

    .header-page {
      position: relative;
      height: 100vh;
      // background-color: red;
    }

    .master-page {
      position: relative;
      height: 100vh;
      // background-color: blue;
      overflow: scroll;

      .master-content {
        position: relative;
        background-color: green;
      }
    }
  }
}

