.town {
  .region-name {
    h1 {
      color: #000;
    }
  }

  .first-part {
    .region-map {
      height: 500px;

      img {
        // max-width: 100%;
        max-height: 100%;
      }
    }
    .right-description{

    }
  }
}
