@import "base.scss";
@media only screen and (min-width: 1025px) {
  .town {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../assets/background/vintage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $old-font;

    .curtain {
      z-index: 100;

      .left {
        position: absolute;
        width: 50vw;
        height: 100%;
        left: -45%;
        background-color: rgba(255, 0, 0, 0.5);
        // background-color: #ff0000;
        // animation: leftCurtain 1s 0.5s linear forwards;
      }

      .right {
        position: absolute;
        width: 50vw;
        height: 100vh;
        right: 0;
        right: -45%;
        background-color: rgba(0, 0, 255, 0.5);
        // background-color: #0000ff;
        // animation: rightCurtain 1s 0.5s linear forwards;
      }
    }

    .town-container {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
      // background-color: #E7D6BD;
      overflow-y: scroll;
      scrollbar-width: none;

      .back {
        position: fixed;
        left: 7.5vw;
        top: 2.5vh;
        z-index: 10;

        .btn {
          font-family: $ori-font;
          font-size: 0.8vw;
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }

      .region-title {
        position: relative;
        margin: 0 auto;
        // top: 50%;
        // transform: translateY(-50%);
        // animation: MoveUp 1.5s 1s linear forwards;

        h1 {
          color: #000000;
          // font-family: $old-font;
          font-weight: bold;
        }
      }

      .region-content {
        position: relative;
        width: 90vw;
        margin: 0 auto;

        .first-part {
          position: relative;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 0px;
          grid-template-areas:
            "map description";

          .map {
            position: relative;
            grid-area: map;
            // background-color: rgba(255, 0, 0, 0.5);
            text-align: center;
            margin: 0 auto;
            width: 40vw;
            height: 60vh;
            min-height: 60vh;
            max-height: 70vh;
            overflow: hidden;

            .town-map {
              position: relative;
              width: 100%;
              height: 100%;
              // background-image: url(../assets/regionmap/1.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              .layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(207, 148, 67, 0.4);
              }
            }
          }

          .description {
            position: relative;
            grid-area: description;
            // background: rgba(0, 128, 0, 0.5);
            padding: 1.5vw;
            font-weight: bold;

            h1 {
              text-align: left;
              text-decoration: underline;
              // font-family: $old-font;
              font-weight: bold;
            }
            p {
              text-align: justify;
              font-size: 1.2vw;
              line-height: 35px;
            }
            a {
              position: absolute;
              left: 1.5vw;
            }
          }
        }

        .second-part {
          position: relative;
          height: 100vh;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 0px;
          grid-template-areas:
            "town-list town-img";
          align-items: center;
          justify-items: center;

          .town-list {
            grid-area: town-list;
            text-align: center;

            .list {
              border: 3px solid #000;
              background-color: rgba(207, 148, 67, 0.8);

              th {
                padding: 10px;
                color: $primary-color;
                font-size: 1.5vw;
              }

              td {
                color: #000;
                font-size: 1vw;
                padding: 10px;
              }
            }
          }

          .town-img {
            grid-area: town-img;
          }
        }
      }
    }
  }

  @keyframes MoveUp {
    0% {
      top: 50%;
      transform: translateY(-50%);
    }
    100% {
      top: 0;
      transform: translateY(0%);
    }
  }

  @keyframes leftCurtain {
    0% {
      left: 0;
    }
    100% {
      left: -45%;
    }
  }
  @keyframes rightCurtain {
    0% {
      right: 0;
    }
    100% {
      right: -45%;
    }
  }

  /* scrollbar width chrome*/
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@media only screen and (max-width: 1024px) {

}

